* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    height: 100vh;
}

.caixa-principal {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botao-principal {
    margin-bottom: 100px;
    height: 60px;
    width: 366px;
    background: #2B99FF;
    border: none;
    border-radius: 10px;
    font-weight: 700px;
    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

.caixa-dois-videos {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-bottom: 50px;

}

h1 {
    margin-top: 40px;
    font-weight: 900px;
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-shadow: rgb(0, 255, 21) 0.1em 0.1em 0.2em
}

button {
    margin-bottom: 100px;
    height: 60px;
    width: 366px;
    background: #2B99FF;
    border: none;
    border-radius: 10px;
    font-weight: 700px;
    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    accent-color: #fff;
}



.img-tamplet {
    height: 690px;
    width: 110%;
    position: absolute;
    top: 0;
    z-index: -1;
}


.mascara-video {
    width: 110%;
    height: 690px;
    background: linear-gradient(109deg, rgba(14, 17, 22, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: absolute;
    top: 0;
    z-index: -1;
}

.img-tamplet02 {
    width: 110%;
    height: 480px;
    position: absolute;
    z-index: -1;
    top: 117%;


}

.iframe-video {
    height: 450px;
    width: 800px;
}

.img-fundo-eboos {

    margin-top: 86.7%;
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 700px;

}

.botao-principal:hover {
    background-color: #2b99ff88;
    border: 1px solid rgb(255, 242, 242);
    color: rgb(255, 255, 255);
}

.quero-lucrar:hover {
    background-color: #2b99ff88;
    border: 1px solid rgb(255, 242, 242);
    color: rgb(255, 255, 255);
}


.caixa-img-temporario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin-bottom: 75px;
    margin-top: -5;
}

.temporaryimage01 {
    height: 344px;
    width: 424px;
    
}

.temporaryimage02 {
    height: 344px;
    width: 424px;
}










@media (max-width: 1100px) {
    body {
        height: 100vh;
    }

    .caixa-principal {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .iframe-video {
        height: 200px;
        width: 350px;
        margin-left: 12%;
    }

    h1 {
        font-size: 17px;
        margin-left: 20%;
    }

    .btnCheckout1 {
        width: 320px;
        margin-left: 35%;
    }

    .caixa-dois-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .img-tamplet {
        width: 159%;
        height: 394px;
    }

    .mascara-video {
        width: 159%;
        height: 394px;
    }

    .iframe-video-03 {
        height: 200px;
        width: 350px;
        margin-left: 22%;
    }

    .iframe-video-02 {
        height: 200px;
        width: 350px;
        margin-left: 22%;
    }

    .img-fundo-eboos {
        margin-top: 256.7%;
        position: absolute;
        width: 159%;
        height: 671px;
    }

    .img-tamplet02 {
        height: 571px;
        width: 159%;
        top: 59%;
    }

    .imagem-ebook {
        margin-top: -8%;
        width: 366px;
        margin-left: 12%;
    }

    .quero-lucrar {
        width: 320px;
        margin-left: 23%;
        margin-top: -7%;
    }
}